body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  justify-content: center;
  padding: 0;
}

#logo {
  display: block;
  margin: auto;
  margin-top: 250px;
  top: 180px;
  width: 350px;
  height: 350px;
}

.home-btn-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-btn {
  background-color: rgb(34, 16, 77);
  color: white;
  padding: .5em 2.5em;
  border-radius: 8px;
  margin-bottom: 0.75em;
  cursor: pointer;
}

.container .btn:hover {
  background-color: darkslategrey;
  text-decoration: none;
}

a {
  text-decoration: none;
}