.chatroom {
  background-image: url(https://res.cloudinary.com/dfmu5zwaj/image/upload/v1679136242/blurry-gradient-haikei_divpaz.png);
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: calc(100vh - 15px);
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid;
    padding: 1rem;
    flex-direction: column;
    align-items: end;

    .form-group {
      margin-bottom: 0;
    }
  }

  .message_content {
    width: 100%;
  }

  .msg-colour {
    color: $peach;
  }

  .text-right {
    text-align: right;
    margin-bottom: 10px;
    justify-content: start;
  }

  .text-left {
    text-align: left;
    margin-bottom: 10px;
    justify-content: end;
  }

  .sender-style {
    background-color: #89a59e;
    color: white;
    box-shadow: 0 8px 6px -6px black;
    padding: 8px 20px 8px 8px;
    border-radius: 10px 0 10px 10px;
  }

  .receiver-style {
    background-color: #4b7886;
    color: white;
    box-shadow: 0 8px 6px -6px black;
    padding: 8px 8px 8px 20px;
    border-radius: 0 10px 10px 10px;
  }

  .timestamp {
    opacity: .6;
    font-size: 0.8rem;
  }

  .username {
    line-height: 1.5rem;
    opacity: .6;
  }


}
